<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous">

        <!--  Favicon -->
        <link rel="apple-touch-icon" sizes="180x180"
            href="../favicon_io (1)/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32"
            href="../favicon_io (1)/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="16x16"
            href="../favicon_io (1)/android-chrome-192x192.png">
        <link rel="manifest" href="/site.webmanifest">

        <!-- External Css Link -->
        <link rel="stylesheet" href="css/style.css">
        <title>Add Review - Maruti X</title>
    </head>

    <body>
        <!-- Top Bar Start -->
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="top-bar-left">
                            <div class="text">
                                <h2>9:00 AM - 9:00 PM</h2>
                                <p>Opening Hour Mon - Fri</p>
                            </div>
                            <div class="text">
                                <h2>+91 70464 48376</h2>
                                <p>Call Us For Appointment</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="top-bar-right">
                            <div class="social">
                                <a href="#" target><i
                                        class="fab fa-twitter fa-beat"></i></a>
                                <a href="#" target><i
                                        class="fab fa-facebook-f fa-beat"></i></a>
                                <a href="#" target><i
                                        class="fab fa-linkedin-in fa-beat"></i></a>
                                <a href="#" target><i
                                        class="fab fa-instagram fa-beat"></i></a>
                                <a href="#" target="_blank"><i
                                        class="fab fa-youtube fa-beat"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand">Maruti
                    <span>X</span></a>
                <button type="button" class="navbar-toggler"
                    data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between"
                    id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="/" class="nav-item nav-link ">Home</a>
                        <a href="/about" class="nav-item nav-link">About</a>
                        <a href="/price" class="nav-item nav-link">Price</a>
                        <a href="/team" class="nav-item nav-link">Barber</a>
                        <a href="/review" class="nav-item nav-link active disabled">Review</a>
                        <a href="/appoitment"
                            class="nav-item nav-link">Appoitment</a>
                        <a href="/profile"
                            class="nav-item nav-link active">Profile</a>
                        <a href="/logout" class="nav-item nav-link">LogOut</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Profile -->
        <div class="container mt-4 mb-4 p-3 d-flex ik"></div>
        <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="card p-4">
                <div
                    class=" image d-flex flex-column justify-content-center align-items-center">
                    <h3>Your Review</h3>

                    <div class="container mt-5">
                        <div class="table-responsive">
                            <table
                                class="table table-striped table-hover appointmentTable">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Star</th>
                                        <th scope="col">Review</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>

                                <%if(!data.length){%>
                                <h1 class="text-center">No Your Review</h1>
                                <%}%>

                                <tbody class="dataTable">
                                    <% var i=1 %>
                                    <% data.forEach((item)=> { %>
                                    <tr>
                                        <td>
                                            <%= i++ %>
                                        </td>
                                        <td>
                                            <%= item.star%> <i
                                                class="fa-solid fa-star"></i>
                                        </td>
                                        <td>
                                            <%= item.review%>
                                        </td>
                                        <td>
                                            <form
                                                action="/deleteReview/<%= item.id %>"
                                                method="post"
                                                class="d-inline">
                                                <button class="btn"
                                                    type="submit"> <i
                                                        class="fas fa-trash text-danger"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div
                        class="d-flex flex-row justify-content-center align-items-center gap-2">

                        <span class="idd1"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="card p-4">
                <div
                    class=" image d-flex flex-column justify-content-center align-items-center">
                    <form action="/addReview" method="post">
                        <h3>Write Review Here</h3>
                        <span style="margin-left: 17%;">Select <i
                                class="fa-solid fa-star"></i></span>
                        <select name="star" class="people" required>
                            <option value="1">Select <i
                                    class="fa-solid fa-star"></i></option>
                            <option value="1">1 Star</option>
                            <option value="2">2 Star</option>
                            <option value="3">3 Star</option>
                            <option value="4">4 Star</option>
                            <option value="5">5 Star</option>
                        </select>
                        <textarea name="review"
                            placeholder="Your Review" cols="20"
                            style="margin-left: 23%;" required></textarea>
                        <button class="btn1 btn-dark"
                            type="submit"
                            style="margin-left: 33%; margin-top: 10%;">Add
                            Review</button>
                    </form>

                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-contact">
                                    <h2>Salon Address</h2>
                                    <p><i class="fa fa-map-marker-alt"></i>G
                                        10-20, RBH,Varacha, Surat</p>
                                    <p><i class="fa fa-phone-alt"></i>+91
                                        70464
                                        48376</p>
                                    <p><i
                                            class="fa fa-envelope"></i>marutix@gmail.com</p>
                                    <div class="footer-social">
                                        <a href><i
                                                class="fab fa-twitter fa-beat"></i></a>
                                        <a href><i
                                                class="fab fa-facebook-f fa-beat"></i></a>
                                        <a href><i
                                                class="fab fa-linkedin-in fa-beat"></i></a>
                                        <a href><i
                                                class="fab fa-instagram fa-beat"></i></a>
                                        <a href><i
                                                class="fab fa-youtube fa-beat"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer-link">
                                    <h2>Quick Links</h2>
                                    <a href>Terms of use</a>
                                    <a href>Privacy policy</a>
                                    <a href>Cookies</a>
                                    <a href>Help</a>
                                    <a href>FQAs</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href>Maruti X</a>, All Right
                            Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By <a href>TEAM</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Font Awosome -->
        <script src="https://kit.fontawesome.com/fb8d4d1a1f.js"
            crossorigin="anonymous"></script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    </body>

</html>