<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous">

        <link rel="apple-touch-icon" sizes="180x180"
            href="../favicon_io (1)/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32"
            href="../favicon_io (1)/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="16x16"
            href="../favicon_io (1)/android-chrome-192x192.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" href="css/style.css">

        <title>Admin - Maruti X</title>
    </head>

    <body>
        <!-- <% var totalSum = 0 %>
        <% data.forEach((item) => { %>
        <% totalSum += parseInt(item.totalPrice) %>
        <%=totalSum %>
        <% }) %> -->

        <h1 class="h1">Welcome Back Admin</h1>
        <div class="price">
            <div class="container">
                <div class="section-header text-center">
                    <h2>See all apoitment</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <a href="/adminAppoitment/hairCut">
                                <div class="price-img">
                                    <img src="img/price-1.jpg" alt="Image">
                                </div>
                                <div class="price-text">
                                    <h2>Hair Cut</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <a href="/adminAppoitment/HairColor">
                                <div class="price-img">
                                    <img src="img/hiarcolor.jpg" alt="Image">
                                </div>

                                <div class="price-text">
                                    <h2>Hair Color</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <a href="/adminAppoitment/hairShave">
                                <div class="price-img">
                                    <img src="img/price-4.jpg" alt="Image">
                                </div>
                                <div class="price-text">
                                    <h2>Hair Shave</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <a href="/adminAppoitment/hairStright">
                                <div class="price-img">
                                    <img src="img/price-5.jpg" alt="Image">
                                </div>
                                <div class="price-text">
                                    <h2>Hair Straight</h2>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <a href="/adminAppoitment/bearedTrim">
                                <div class="price-img">
                                    <img src="img/price-8.jpg" alt="Image">
                                </div>
                                <div class="price-text">
                                    <h2>Beard Trim</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <a href="/adminAppoitment/bearedShave">
                                <div class="price-img">
                                    <img src="img/price-9.jpg" alt="Image">
                                </div>
                                <div class="price-text">
                                    <h2>Beard Shave</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <a href="/adminAppoitment/weddingCut">
                                <div class="price-img">
                                    <img src="img/price-10.jpg" alt="Image">
                                </div>
                                <div class="price-text">
                                    <h2>Wedding Cut</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <a href="/adminAppoitment/cleanUp">
                                <div class="price-img">
                                    <img src="img/price-11.jpg" alt="Image">
                                </div>
                                <div class="price-text">
                                    <h2>Clean Up</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="price-item">
                            <a href="/adminAppoitment/massage">
                                <div class="price-img">
                                    <img src="img/price-12.jpg" alt="Image">
                                </div>
                                <div class="price-text">
                                    <h2>Massage</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-header text-center">
            <h2>See All Past Appoitment</h2>
        </div>

        <div class="employee">
            <a href="/pastAppoitment" style="text-decoration: none;">
                <button type="submit" class="btnn">See All Past
                    Appoitment</button>
            </a>
        </div>

        <div class="section-header text-center">
            <h2>Add User</h2>
        </div>

        <div class="employee">
            <a href="/addUser" style="text-decoration: none;">
                <button type="submit" class="btnn">See All User</button>
            </a>
        </div>

        <div class="section-header text-center">
            <h2>See All User</h2>
        </div>

        <div class="employee">
            <a href="/user" style="text-decoration: none;">
                <button type="submit" class="btnn">See All User</button>
            </a>
        </div>

        <div class="section-header text-center">
            <h2>See All Past User</h2>
        </div>

        <div class="employee">
            <a href="/pastUser" style="text-decoration: none;">
                <button type="submit" class="btnn">See All Past User</button>
            </a>
        </div>

        <div class="section-header text-center">
            <h2>Add Employee Heare</h2>
        </div>

        <div class="employee">
            <a href="/addEmployee" style="text-decoration: none;">
                <button type="submit" class="btnn">Add Employee</button>
            </a>
        </div>

        <div class="section-header text-center">
            <h2>See All Employee</h2>
        </div>

        <div class="employee">
            <a href="/employee" style="text-decoration: none;">
                <button type="submit" class="btnn">See All Employee</button>
            </a>
        </div>

        <div class="section-header text-center">
            <h2>See All Past Employee</h2>
        </div>

        <div class="employee">
            <a href="/pastEmployee" style="text-decoration: none;">
                <button type="submit" class="btnn">See All Past
                    Employee</button>
            </a>
        </div>

        <div class="section-header text-center">
            <h2>See All Review</h2>
        </div>

        <div class="employee">
            <a href="/adminReview" style="text-decoration: none;">
                <button type="submit" class="btnn">See All Review</button>
            </a>
        </div>

        <div class="section-header text-center">
            <h2>See All Past Review</h2>
        </div>

        <div class="employee">
            <a href="/adminPastReview" style="text-decoration: none;">
                <button type="submit" class="btnn">See All Past Review</button>
            </a>
        </div>

        <div class="section-header text-center">
            <h2>Log Out</h2>
        </div>
        <div class="employee">
            <a href="/logout" style="text-decoration: none;">
                <button type="submit" class="btnn">Log Out</button>
            </a>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    </body>

</html>