<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous">

        <link rel="stylesheet" href="css/email.css">

        <title>Hello, world!</title>
    </head>

    <body>
        <div class="main-container">
            <div class="heading">
                <h1>Maruti <span>X</span></h1>
            </div>

            <!-- <div class="estd">
            <img src="C:/Users/dell/Downloads/salon-main/salon-main/public/img/MarutiX.png" alt="Logo">

        </div> -->
        </div>

        <div class="about-text">
            <p>
                Welcome to Maruti X!
            </p>
            <p>
                Dear <%= data.name %>,
            </p>
            Welcome to Maruti X Salon! We're delighted to welcome you to our
            team as a new employee in the category of <%= data.category %>. At
            Maruti X, we're more than just a salon; we're a family dedicated to
            delivering exceptional beauty experiences to our clients. As you
            embark on this exciting journey with us, you'll find that our salon
            is a place where creativity, passion, and professionalism come
            together to create magic. Whether you're sculpting stunning
            haircuts, mastering intricate hair colors, or providing relaxing
            massages, your unique skills and talents will contribute to our
            collective success. We're committed to fostering a supportive and
            inclusive environment where you can thrive and grow in your role.
            Welcome to Maruti X Salon, where every day is an opportunity to make
            our clients feel their best and look their most beautiful!
            <p>
                Thank you for choosing Maruti X. We're looking forward to seeing
                you thrive in our community!
            </p>
            <p>
                Best regards,
                The Maruti X Team
            </p>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    </body>

</html>